	<div class="container">

<div class="nav_container">
	<div class="nav_bar">
		<ul>
	  		<a href="#content2"><li>PLAY</li></a>
	  		<a href="#content3"><li>HOW TO</li></a>
	  	</ul>
	  <div class="logo">
	  </div>
	</div>
</div>

<div id="content1">
	<div class="hero">
	  <div class="headline">
	  </div>
	</div>
</div>

<div id="content2">
	  <div class="hero_image2">
	  </div>

	<div class="flys">
	</div>

	<div class="sparkle">
	</div>

	<div class="wrap">
	   <div class="sidea">
	   </div>
	  <div class="sideb">
	  </div> 
	</div>
</div>

<div id="content3">
	<div class="example">
	</div>

	<div class="hand">
	</div>
</div>

<div id="content4">

<% if current_user %>
 <% current_groups.each do |g| %>
 
    <li><%= link_to g.name, group_path(g) %></li>

<% end %>
	<% else %>

</div>

	</div>


<!-- <h1>SIGN UP MOFO!</h1>

<%= form_for @user do |f| %>
	<%= f.text_field :first_name, placeholder: "First name dude go here" %>
	<%= f.text_field :last_name, placeholder: "Last name dude go here" %>
	<%= f.text_field :email, placeholder: "Email dude go here" %>
	<%= f.password_field :password, placeholder: "Password dude go here" %>
	<%= f.password_field :password_confirmation, placeholder: "Confirm firme dude go here" %>
	<%= f.text_field :zipcode, placeholder: "Zipcode dude go here" %>

	<%= f.submit "Submit HERE FOR FRDGES AND %*&*&" %>

<<<<<<< HEAD
<% end %> -->
=======
<% end %>
<% end %>
>>>>>>> 46256b23139f203930880ffeecef472b8e8f85f0


