<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h1>Items in your kitchen</h1>
    <% @items.each do |item| %>
      <% if item.container_type != "Shopping List" %>
      <li><strong><%= item.name %></strong>
        <% if item.exp_date %> -- Expires: <%= item.exp_date.strftime("%A, %D") %><% end %> in the <%= item.container_type %>
          <%= link_to "Add to Shopping List", update_item_path(@category, item) ,method: :post, class: "btn btn-success"%>
        <%= link_to "Delete item...", category_item_path(@category, item), method: :delete, class: "btn btn-danger"%>
      </li>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <h1>Items in your shopping list</h1>
    <% @items.each do |item| %>
      <% if item.container_type == "Shopping List" %>
      <li><strong><%= item.name %></strong> in the <%= item.container_type %>
    
    <button class="btn btn-success" data-toggle="modal" data-remote="<%= edit_category_item_path(@category, item) %>" data-target=".bs-example-modal-lg">Bought!</button>



        <%= link_to "Delete item...", category_item_path(@category, item), method: :delete, class: "btn btn-danger"%>
      </li>
      <% end %>
    <% end %>
  </div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
    </div>
  </div>
</div>
