



  <!-- Login Screen -->
  <div class="newitem">
  <div class="container-fluid" style="width: 500px">
    <h1>Add new <%= @category.name %>!<img src="/assets/<%= @category.image %>.png"></h1> 
 	    <%= form_for @item, {url: category_items_path(@category)} do |f| %>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
            <%= f.text_field :name, :class => "form-control",:placeholder => "name" %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-heart"></i></span>
            <%= f.number_field :quantity, :class => "form-control", :placeholder => "Quantity" %>
            <%= f.check_box :is_private %> Make item private? (only you will see items in your private list)
          	</div>
          </div>
  
	
  			 <%= f.submit "Add item!", :class => "btn btn-lg btn-primary btn-block", data: { disable_with: "Adding..."} %>
      	<% end %>
<button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
	</div>