<h1>Items#show</h1>
<p>Find me in app/views/items/show.html.erb</p>
<h3><%= @item.name %></h3><br>
Quantity: <%= @item.quantity %><br>
<% if @item.exp_date %>
  Expiration Date: <%= @item.exp_date %><br>
<% end %>
Container Type: <%= @item.container_type %><br>
Who put it in the fridge???: <%= @item.user.first_name %><br>
private item??: <%= @item.is_private %><br> 