
<h3><%= @item.name %></h3><br>
Quantity: <%= @item.quantity %><br>
<% if @item.exp_date %>
  Expiration Date: <%= @item.exp_date %><br>
<% end %>
Container Type: <%= @item.container_type %><br>
Who put it in the <%= @item.container_type %> ???: <%= @item.user.first_name %><br>
private item?!!!?: <%= @item.is_private %><br> 