<% if current_groups.include?(@group) %>
<div ng-controller="dragNdrop">
	<div id="dd-elements">
		<div id="drag-elements">

      <!-- initializes current groups id -->
      <p ng-init="group = <%= @group.id %>"></p>

        <!-- initalizes category array -->
			<p ng-init="cats = <%= @category_array %>"></p>
			<div class="container">
			 
        <!-- Back a page in pagination -->
       
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center food-items">
  				<a ng-repeat='c in active_cats()| orderBy:"name":false' ng-href'{{dropZoneLink}}'>
  					<div class="col-md-6 col-md-offset-3 category" draggable="true" ng-mousedown="setCategory(c.id)">
  						<div id="info">	<img ng-src="/assets/{{c.image}}.png">
  						  <div id="dropdown">{{c.name}}</div>				
  					  </div>
  					</div>
  				</a>
        </div>
      </div>
        <!-- Advance page in pagination -->
      <div class="row">
        <div class="col-md-6">
          <div class="btn btn-primary col-md-1 col-md-offset-5" ng-show="start_button" ng-click="page_move(-5)">&lt;&lt;</div>
        </div>
        <div class="col-md-6 ">
          <div class="btn btn-primary col-md-1 col-md-offset-5" ng-show="end_button" ng-click="page_move(5)">&gt;&gt;</div>
        </div>
      </div>
		</div>
	</div>
</div> 




<div class="row container-fluid text-center">
 <div class="col-md-3 ">
    <h1><%=@group.name %> items</h1>
    <div class="btn btn-primary" ng-click="filter('All')">All Items</div>
    <div class="btn btn-primary" ng-click="filter('Refridgerator')">Refridgerator</div>
    <div class="btn btn-primary" ng-click="filter('Freezer')">Freezer</div>
    <div class="btn btn-primary" ng-click="filter('Pantry')">Pantry</div>

    <% @items.each  do |item| %>
    
      <% item_group = item.category.group.id %>
      <% if item_group == @group.id %>
  
      <% if item.container_type != "Shopping List" %>
      
      <li ng-show='filter_view == "All" || filter_view == "<%= item.container_type %>"'>

<%= image_tag item.category.image + ".png", class: "img-responsive", size: "30x30" %>

     <strong><%= item.name %></strong> in <b><%= item.container_type %></b>  <% if item.exp_date %>, <b>Expires:</b> <%= item.exp_date.strftime("%A, %D") %><% end %>
          

      <%= link_to "x", category_item_url(item.category_id, item), method: :delete, data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Deleting..."}, class: "btn btn-danger btn-xs pull-right"%>
      
          <%= link_to "+ Shopping List", update_item_url(item.category_id, item) ,method: :post, data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding to Shopping List..."}, class: "btn btn-success btn-xs pull-right"%>
        </li>
      <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-6 ">
  	<div class="col-md-6 text-center">
  		<p class="container-title">Add to Kitchen</p>
      <div id="drop-target-one"></div>
  	</div>
  	
  	<div class="col-md-6 text-center">
  		<p class="container-title">Add to Shopping List</p>
      <div id="drop-target-two"></div>
  	</div>
  
  </div>
 <div class="col-md-3">
    <h1>Shopping list</h1>

    <% @shopping_list_items.each do |item| %>
      

 <% item_group = item.category.group.id %>
      <% if item_group == @group.id %>
    <% if item.container_type == "Shopping List" %>
      <li><strong><%= item.name %></strong>
      
    
    <button class="btn btn-success btn-xs" data-toggle="modal" data-remote="<%= edit_category_item_url(item.category_id, item) %>" data-target=".bs-example-modal1-lg">Bought!</button>



        <%= link_to "x", category_item_url(item.category_id, item), method: :delete, data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Deleting..."}, class: "btn btn-danger btn-xs"%>
      </li>
      <% end %>
    <% end %>
    <% end %>
  </div>
</div>
</div>



<!-- items index -->

 
 


<div class="modal fade bs-example-modal1-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
    </div>
  </div>
</div>

</div>
<% else %>
  <%= render 'partials/create_group' %>
<% end %>


<br>


<div class="container">

  <div id="messages">
    <%= render 'messages' %>
  </div>
  </div>
  </div>
