
<div ng-controller="dragNdrop">
	<div id="dd-elements">
		<div id="drag-elements">

      <p ng-init="group = <%= @group.id %>"></p>

			<% @category_array = @categories.all.map { |f|
				{ id: f.id, name: f.name, image: f.image} } %>

			<p ng-init="cats = <%= @category_array.to_json %>"></p>
			<div class="container">
			<div class="row">
				<a ng-repeat="c in cats | orderBy:'name':false" ng-href='{{dropZoneLink}}'>
					<div class="col-md-1 category" draggable="true" ng-mousedown="setCategory(c.id)">
						<div id="info">	<img ng-src="/assets/{{c.image}}.png">
						<div id="dropdown">{{c.name}}</div>				
					</div>
					</div>
				</a>
			</div>
			</div>
		</div> 
		<div class="row">
			<div class="col-md-3 col-md-offset-3 text-center">
				<p class="container-title">Add to Kitchen</p><div id="drop-target-one">
				<!-- <div class="fridge-drop-container"> --><%#= image_tag "https://s3.amazonaws.com/uploads.hipchat.com/39979/962337/lQTLYzlNX84Jns3/fridge.png" %>
				<!-- </div> -->
				</div>
			</div>
			
			<div class="col-md-3 text-center">
				<p class="container-title">Add to Shopping List</p><div id="drop-target-two">
				</div>
			</div>
		</div>
	</div>


<!-- modal for categories -->

<!-- ends modal -->



<!-- items index -->
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h1>Items in your kitchen</h1>
    <%= link_to "All Items", group_categories_path(@group,itemfilter:"all", method: :get), class: "btn btn-default" %>
    <%= link_to "Refridgerator",group_categories_path(@group, itemfilter:"refridgerator", method: :get), class: "btn btn-default" %>
    <%= link_to "Freezer",group_categories_path(@group, itemfilter:"freezer", method: :get), class: "btn btn-default" %>
    <%= link_to "Pantry", group_categories_path(@group, itemfilter:"pantry"), class: "btn btn-default" %>

    <% @items.each do |item| %>
    
      <%= category = item.category_id%>
    
      <% if item.container_type != "Shopping List" %>
      <li><strong><%= item.name %></strong>
        <% if item.exp_date %> -- Expires: <%= item.exp_date.strftime("%A, %D") %><% end %> in the <%= item.container_type %>
          
      
          <%= link_to "Add to Shopping List", update_item_url(item.category_id, item) ,method: :post, data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding to Shopping List..."}, class: "btn btn-success"%>
        <%= link_to "Delete item...", category_item_url(item.category_id, item), method: :delete, data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Deleting..."}, class: "btn btn-danger"%>
      </li>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <h1>Items in your shopping list</h1>
    <div ng-repeat="item in itemData track by $index">
      <li><b>{{item.name}}</b> in the {{item.container_type}}
        <a class="btn btn-success" ng-click="editModal(item.category_id, item.id)">Bought!</a>
        <a class="btn btn-warning" ng-click="deleteItem(item.category_id, item, item.id)">Delete Item</a>

        
      <!--   <a class="btn btn-danger" href="<%#= category_item_path(item.category_id, item)%>">Delete</a> -->
      </li>
    </div>

API DATA END

    <% @shopping_list_items.each do |item| %>
      <% if item.container_type == "Shopping List" %>
      <li><strong><%= item.name %></strong> in the <%= item.container_type %> 
    
    <button class="btn btn-success" data-toggle="modal" data-remote="<%= edit_category_item_url(item.category_id, item) %>" data-target=".bs-example-modal1-lg">Bought!</button>



        <%= link_to "Delete item...", category_item_url(item.category_id, item), method: :delete, data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Deleting..."}, class: "btn btn-danger"%>
      </li>
      <% end %>
    <% end %>
  </div>
</div>


<div class="modal fade bs-example-modal1-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
    </div>
  </div>
</div>

</div>
