<style>
  * {
    font-family: Verdana, Arial, sans-serif;
  }
  a:link {
    color:#000;
    text-decoration: none;
  }
  a:visited {
    color:#000;
  }
  a:hover {
    color:#33F;
  }
  .button {
    background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
    border: 1px solid #076bd2;
    border-radius: 3px;
    color: #fff;
    display: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3;
    padding: 8px 25px;
    text-align: center;
    text-shadow: 1px 1px 1px #076bd2;
    letter-spacing: normal;
  }
  .center {
    padding: 10px;
    text-align: center;
  }
  .final {
    color: black;
    padding-right: 3px; 
  }
  .interim {
    color: gray;
  }
  .info {
    font-size: 14px;
    text-align: center;
    color: #777;
    display: none;
  }
  .right {
    float: right;
  }
  .sidebyside {
    display: inline-block;
    width: 45%;
    min-height: 40px;
    text-align: left;
    vertical-align: top;
  }
  #headline {
    font-size: 40px;
    font-weight: 300;
  }
  #info {
    font-size: 20px;
    text-align: center;
    color: #777;
    visibility: hidden;
  }
  #results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
  }
  #start_button {
    border: 0;
    background-color:transparent;
    padding: 0;
  }
</style>




<% if current_groups.include?(@group) %>
<div ng-controller="dragNdrop">

  <h1 class="center" id="headline">
    <a href="http://dvcs.w3.org/hg/speech-api/raw-file/tip/speechapi.html">
      Web Speech API</a> Demonstration</h1>
    <div id="info">
      <p id="info_start">Click on the microphone icon and begin speaking.</p>
      <p id="info_speak_now">Speak now.</p>
      <p id="info_no_speech">No speech was detected. You may need to adjust your
        <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
          microphone settings</a>.</p>
      <p id="info_no_microphone" style="display:none">
        No microphone was found. Ensure that a microphone is installed and that
        <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
        microphone settings</a> are configured correctly.</p>
      <p id="info_allow">Click the "Allow" button above to enable your microphone.</p>
      <p id="info_denied">Permission to use microphone was denied.</p>
      <p id="info_blocked">Permission to use microphone is blocked. To change,
        go to chrome://settings/contentExceptions#media-stream</p>
      <p id="info_upgrade">Web Speech API is not supported by this browser.
         Upgrade to <a href="//www.google.com/chrome">Chrome</a>
         version 25 or later.</p>
    </div>
    <div class="right">
      <button id="start_button" ng-click="startButton(event)">
        <img id="start_img" src="assets/mic.gif" alt="Start"></button>
    </div>
    <div id="results">
      <span id="final_span" class="final"></span>
      <span id="interim_span" class="interim"></span>
      <p>
    </div>
    <div class="center">
      <div class="sidebyside" style="text-align:right">
        <button id="copy_button" class="button" ng-click="copyButton()">
          Copy and Paste</button>
        <div id="copy_info" class="info">
          Press Control-C to copy text.<br>(Command-C on Mac.)
        </div>
      </div>
      <div class="sidebyside">
        <button id="email_button" class="button" onclick="emailButton()">
          Create Email</button>
        <div id="email_info" class="info">
          Text sent to default email application.<br>
          (See chrome://settings/handlers to change.)
        </div>
      </div>
      <div id="div_language">
        <select id="select_language" onchange="updateCountry()"></select>
        &nbsp;&nbsp;
        <select id="select_dialect"></select>
      </div>
    </div>
  </div>



	<div id="dd-elements">
		<div id="drag-elements">

      <!-- initializes current groups id -->
      <p ng-init="group = <%= @group.id %>"></p>
      <p ng-init="othercat = <%= @other_category.id %>"></p>

        <!-- initalizes category array -->
			<p ng-init="cats = <%= @category_array %>"></p>
			<div class="container">
			 
        <!-- Back a page in pagination -->
      Result: <%= @item_saved %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center food-items">
  				<a ng-repeat='c in active_cats()| orderBy:"name":false' ng-href'{{dropZoneLink}}'>
  					<div class="col-md-6 col-md-offset-3 category" draggable="true" ng-mousedown="setCategory(c.id)">
  						<div id="info">	<img ng-src="/assets/{{c.image}}.png">
  						  <div id="dropdown">{{c.name}}</div>				
  					  </div>
  					</div>
  				</a>
        </div>
      </div>
        <!-- Advance page in pagination -->
      <div class="row">
        <div class="col-md-6">
          <div class="btn btn-primary col-md-1 col-md-offset-5" ng-show="start_button" ng-click="page_move(-5)">&lt;&lt;</div>
        </div>
        <div class="col-md-6 ">
          <div class="btn btn-primary col-md-1 col-md-offset-5" ng-show="end_button" ng-click="page_move(5)">&gt;&gt;</div>
        </div>
      </div>
		</div>
	</div>
</div> 




<!-- items index -->
<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <h1 class="container-list-title text-center"><%= @group.name %> Items</h1>
    <div class="btn btn-primary btn-sm" ng-click="filter('All')">All Items</div>
    <div class="btn btn-primary btn-sm" ng-click="filter('Refridgerator')">Refridgerator</div>
    <div class="btn btn-primary btn-sm" ng-click="filter('Freezer')">Freezer</div>
    <div class="btn btn-primary btn-sm" ng-click="filter('Pantry')">Pantry</div>

    <% @items.each  do |item| %>
    
      <% item_group = item.category.group.id %>
      <% if item_group == @group.id %>
  
      <% if item.container_type != "Shopping List" %>
      
        <li ng-show='filter_view == "All" || filter_view == "<%= item.container_type %>"'>
          <div class="col-md-2 item-image-mini">
            <%= image_tag item.category.image + ".png", class: "img-responsive", size: "30x30" %>
          </div>
          <div class="col-md-10">
            <div class="item-name"><%= item.name %></div><br>in <b><%= item.container_type %></b>  <% if item.exp_date %>, <b>Expires:</b> <%= item.exp_date.strftime("%A, %D") %><% end %>
            <%= link_to " x ", category_item_url(item.category_id, item), method: :delete, data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Deleting..."}, class: "btn btn-danger btn-xs pull-right"%>
            <%= link_to " + ", update_item_url(item.category_id, item) ,method: :post, data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Adding to Shopping List..."}, class: "btn btn-warning btn-xs pull-right"%>
          </div>
        </li>
      <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
  	<div class="col-md-6 text-center">
  		<p class="container-title">Add to Kitchen</p>
      <div id="drop-target-one"></div>
  	</div>
  	
  	<div class="col-md-6 text-center">
  		<p class="container-title">Add to Shopping List</p>
      <div id="drop-target-two"></div>
  	</div>
  
  </div>
 <div class="col-md-4">
    <h1 class="container-list-title text-center">Shopping list</h1>

    <% @shopping_list_items.each do |item| %>
  
 <% item_group = item.category.group.id %>
      <% if item_group == @group.id %>
    <% if item.container_type == "Shopping List" %>
      <li><strong><%= item.name %></strong>  
    
    <button class="btn btn-success btn-xs" data-toggle="modal" data-remote="<%= edit_category_item_url(item.category_id, item) %>" data-target=".bs-example-modal1-lg">Bought!</button>

        <%= link_to "x", category_item_url(item.category_id, item), method: :delete, data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Deleting..."}, class: "btn btn-danger btn-xs"%>
      </li>
      <% end %>
    <% end %>
    <% end %>
  </div>
</div>
</div>



<!-- items index -->

 
 


<div class="modal fade bs-example-modal1-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
    </div>
  </div>
</div>

</div>
<% else %>
  <%= render 'partials/create_group' %>
<% end %>


<br>


<div class="container">

  <div id="messages">
    <%= render 'messages' %>
  </div>
  </div>
  </div>
