<!DOCTYPE html>
<html ng-app="WefridgeratorApp">
<head>
  <title>Wefridgerator</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.js"></script>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script> 
    var congressApp = angular.module('congressApp',[])


    congressApp.controller('Congress', ['$scope', 'SenateData',
      function($scope, SenateData) {

      $scope.senatordata = {};

      SenateData.getData().then(function(json){
        $scope.senatordata = json.data;
        console.log(json.data);
      });

    }]);

    // create factory for the members
    congressApp.factory('SenateData', ['$http', function($http){
      var senators = {};

      senators.getData = function(){
        var url = "http://localhost:3000/containers/5/categories"
        var endpoint = url; 
        return $http({ method: 'GET', url: endpoint });
      };

      return senators;

    }]);
    </script>
</head>


<body>

<% if current_user %>
	Hi, <%= current_user.first_name %>!
<% end %>

<%= yield %>
<% if current_user %>
<%= link_to "Log out", session_path, method: :delete %>
<% end %>

</body>


</html>
