<!DOCTYPE html>
<html ng-app="WefridgeratorApp">
<head>
  <title>Wefridgerator</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.js"></script>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>


<body>

<% if current_user %>
	Hi, <%= current_user.first_name %>!
<% end %>

<%= yield %>
<% if current_user %>
<%= link_to "Log out", session_path, method: :delete %>
<% end %>

</body>


</html>
